body{
  font-family: sans-serif;
  background-color: #fff;
}

.logo{
  position: absolute;
  z-index: 1;
  top: 5%;
  left: 2%;
}

h1{
  font-size: 6em;
  font-weight: bold;
  position: absolute;
  top: 0%;
  left: 6%;
}

h5{
  font-size: 16px;
  font-weight: bold;
}

h6{
  font-size: 16px;
  font-weight: normal;
}

#content h6{
  letter-spacing: 2px;
  position: absolute;
  bottom: 15%;
  left: 6%;
}

#img{
  position: absolute;
  bottom: 20%;
  right: 0%;
  z-index: -1;
}

#footer h5{
  position: absolute;
  bottom: 7%;
  left: 34%;
}

#footer h6{
  position: absolute;
  bottom: 0%;
  left: 34%;
}

.ie{
  position: absolute;
  bottom: 4%;
  left: 6%;
  text-decoration: none;
  border-bottom: 2px solid;
  padding-bottom: 0px;
}

.button{
  border-radius:3px;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  padding: 20px 25px 20px;
  margin: 16px 0 0 16px;
  vertical-align: top;
  background-color: black;
  border: 1px solid black;
  color: white;
  transform: rotate(90deg);
  position: absolute;
  right: -38px;
  bottom: 50%;
}
